<section>
    <article>
        <header>
            <h2> {{postagem.titulo}} </h2>
        </header>

        <p> {{postagem.conteudo}} </p>

        <br>
        <hr>
        <br>

        {% if postagem.comentarios == false %}
        <p>Nenhum comentario encontrado para essa postagem.</p>
        {% endif %}

        {% for comentario in postagem.comentarios %}

        <h3> {{comentario.nome}} </h3>

        <p> {{comentario.mensagem}} </p>

        <br>

        {% endfor %}

    </article>


</section>